* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container .box {
    background-color: rgba(231, 14, 14, 0.801);
    padding: 8px;
    text-align: center;
}

.container .box img {
    cursor: pointer;
}

.container .box .dimensiones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}